@charset "utf-8";

/* reset */
* {margin: 0 auto; padding: 0;}
a {text-decoration: none;}
li {list-style: none;}
.clearfix::after, .clearfix::before {display: block; content: ''; clear: both;}

/* slide */
#slide {width: 1200px; height: 300px;}
.imglist {position: relative; width: 1200px; height: 300px;}
.imglist li {position: absolute; top: 0; left: 0; width: 1200px; height: 300px;}
.imglist img {width: 1200px ; height: 300px ;}
.imglist h2{ position: absolute ; top: 50% ; left: 50% ; transform: translate(-50%, -50%) ;width: 400px ; height: 100px ; text-align: center ;color: #ffff ; background: rgba(0,0,0,0,7);}